#crimT {
	margin-top: 15px;
	margin-left: 20px;
	margin-right: 50px;
}

.set_drawer {
	margin-left: 15px;
	width: 260px;
}

#ctn {
	margin:10px 20px 20px 20px;
}

#conf {
	margin: 0px 5px 0px 5px;
}

.page-content {
	/*margin: 20px;*/
}

#graph {
	height: 520px;
	
	/*width: 400px;*/
}

.mdl-card__menu {
	margin:10px;
}

#scroll-tab-1 {
	/*height: 80%;*/
}

#graphControl {
	margin-top: -15px;
}

#maincontent {
	width: 76%;
	margin: 10px 10px 0px 10px;
	min-width: 600px;
	display: inline-block;
}

#ack {
	color: #DC143C;
}

#paras {
	width: 20%;
	min-width: 200px;
	max-width: 400px;
	display: inline-block;
	/*float: right;*/
	vertical-align: top;
	margin: 10px 10px 10px 0px;
}

#para1 {
	/*height: 300px;*/
}

#ginfo {
	position: relative;
}


#mt {
	margin: auto; 
	/*max-width: 400px;*/
	width: 60%;
	position: absolute;
	/*display: none;*/
	left:0;
	right: 0;
	top: 0;
	bottom: 0;
}

.para {
	width: 100%;
	display: inline-block;
	height: auto;
	vertical-align: top;
	margin: 0px 0px 10px 0px;
}

.parat:hover {
	background-color: rgba(158,158,158, 0.20);
	cursor: pointer;
}

#pane0, #pane1,#pane2 {
	display: none;
}

